<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card">
      <div class="card-block">


        <img class="mx-auto d-block" src="http://tuvantuyensinhtructuyen.vn/Upload/Images/CDCN.jpg" alt="">
        <h1 class="text-center">Đăng nhập</h1>
        <form (submit)="onSubmit()">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" [(ngModel)]="email" name="email" required>

          </div>
          <div class="form-group">
            <label for="Password">Mật khẩu</label>
            <input type="password" class="form-control" [(ngModel)]="password" name="password" required>
          </div>
          <input type="submit" value="Submit" class="btn btn-primary btn-block">
        </form>
      </div>
    </div>
  </div>
</div>
